<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charsert=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
	
	<title>Home - Shopme Admin</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

</head>
<body>
	<div class="container-fluid">
		<div>
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<a class="navbar-brand" th:href="@{/}">
					<img th:src="@{/images/ShopmeAdminSmall.png}" alt="" />
				</a>			
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="topNavbar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a th:href="@{/users}" class="nav-link">Users</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/categories}" class="nav-link">Categories</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/products}" class="nav-link">Products</a>
						</li>	
						<li class="nav-item">
							<a th:href="@{/shipping}" class="nav-link">Shipping</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/orders}" class="nav-link">Orders</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/report}" class="nav-link">Sales Report</a>
						</li>				
						<li class="nav-item">
							<a th:href="@{/articles}" class="nav-link">Articles</a>
						</li>	
						<li class="nav-item">
							<a th:href="@{/menus}" class="nav-link">Menus</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/setting}" class="nav-link">Settings</a>
						</li>																																									
					</ul>
				</div>
			</nav>
		</div>
		<div>
			<h1>Welcome to Shopme Admin</h1>
		</div>
		<div>
			<p>Shopme Control Panel - Copyright &copy; Shopme</p>
		</div>
	</div>
		<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>