<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charsert=UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0" />

	<title>Home - Shopme Admin</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />

</head>

<body>
	<div class="container-fluid">
		<div>
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<a class="navbar-brand" th:href="@{/}">
					<img th:src="@{/images/ShopmeAdminSmall.png}" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="topNavbar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a th:href="@{/users}" class="nav-link">Users</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/categories}" class="nav-link">Categories</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/products}" class="nav-link">Products</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/shipping}" class="nav-link">Shipping</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/orders}" class="nav-link">Orders</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/report}" class="nav-link">Sales Report</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/articles}" class="nav-link">Articles</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/menus}" class="nav-link">Menus</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/setting}" class="nav-link">Settings</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div>
			<h2>Manage Users</h2>
			<a th:href="@{/users/new}">Create New User</a>
		</div>
		<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]
		</div>
		<div>
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th>User ID</th>
						<th>Photos</th>
						<th>Email</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Roles</th>
						<th>Enabled</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${listUsers}">
						<td>[[${user.id}]]</td>
						<td>
							<span><i class="fa-solid fa-image-portrait fa-3x icon-silver"></i></span>
						</td>
						<td>[[${user.email}]]</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.roles}]]</td>
						<td>
							<a th:if="${user.enabled == true}" href=""><i class="fa-solid fa-circle-check fa-2x icon-green"></i></a>
							<a th:if="${user.enabled == false}" href=""><i class="fa-solid fa-circle-check fa-2x icon-dark"></i></a>
						</td>
						<td>
							<a class="fa-solid fa-pen-to-square fa-2x icon-green" th:href="@{'/users/edit/' + ${user.id}}" title="Edit this user"></a>
							&nbsp;
							<a class= "fa-solid fa-trash fa-2x icon-red link-delete" 
							th:href="@{'/users/delete/' + ${user.id}}" title="Delete this user"
							th:userId="${userId}">
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
        <div class="modal fade text-center" id="confirmModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalTitle">Delete Confirmation</h4>
                        <button type="button" class ="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <span id="confirmText"></span>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-success" href="">Yes</a>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>		
		<div class="text-center">
			<p>Shopme Control Panel - Copyright &copy; Shopme</p>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	   <script type="text/javascript">
       $(document).ready(function() {
           $(".link-delete").on("click",function(e){
               e.preventDefault();
               link = $(this);
               userId = link.attr("user")
               $("#confirmText").text("Are you sure you want to delete this user ID" + userId);
               $("#confirmModal").modal();
           })
       })
    </script>
</body>

</html>